/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-983 {
        padding: var(--sectionPadding);
        position: relative;
    }
    #contact-983 .cs-container {
        width: 100%;
        /* changes to 1064px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }
    #contact-983 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #contact-983 .cs-title {
        color: var(--bodyTextColorWhite);
    }
    #contact-983 .cs-form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 0.75rem;
    }
    #contact-983 .cs-label {
        font-size: 1rem;
        line-height: 1.5em;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
        grid-column: span 12;
    }
    #contact-983 .cs-input {
        font-family: inherit;
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        padding-left: 1.5rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        color: #fff;
        background-color: #484848;
        border: none;
    }
    #contact-983 .cs-input::placeholder {
        padding-top: 1rem;
        color: #fff;
        opacity: 0.5;
    }
    #contact-983 .cs-textarea {
        height: 7.5rem;
        margin-bottom: 2rem;
    }
    #contact-983 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 2rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #contact-983 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #contact-983 .cs-button-solid:hover:before {
        width: 100%;
    }
    #contact-983 .cs-submit {
        border: none;
    }
    #contact-983 .cs-submit:hover {
        cursor: pointer;
    }
    #contact-983 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #contact-983 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #1a1a1a;
        opacity: 0.9;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #contact-983 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-983 .cs-container {
        max-width: 66.5rem;
    }
    #contact-983 .cs-label {
        grid-column: span 6;
    }
    #contact-983 .cs-message {
        grid-column: span 12;
    }
    #contact-983 .cs-wrapper {
        grid-column: span 12;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

                                