/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #gallery-40 {
        padding: var(--sectionPadding);
        position: relative;
        background-color: var(--darkBackground);
    }
    #gallery-40 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-40 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-40 .cs-title {
        margin: 0;
    }
    #gallery-40 .cs-image-group {
        /* Scales the whole container down and grows with the view width */
        /* increase vw unit to scale bigger, decrease to scale smaller */
        font-size: min(1.4vw, 1em);
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }
    #gallery-40 .cs-flex-group {
        display: flex;
        flex-direction: column;
    }
    #gallery-40 .cs-flex-group:first-of-type {
        align-items: flex-end;
        margin-right: 1.5em;
    }
    #gallery-40 .cs-picture {
        display: block;
        position: relative;
    }
    #gallery-40 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #gallery-40 .cs-picture-one {
        width: 33.0625em;
        height: 49.5em;
        margin-bottom: 2.25em;
        margin-top: 7.5em;
    }
    #gallery-40 .cs-picture-two {
        width: 32.8125em;
        height: 44.3125em;
        margin-bottom: 2.25em;
        position: relative;
    }
    
    #gallery-40 .cs-picture-three {
        width: 27.125em;
        height: 40.6875em;
        position: relative;
    }
    
    #gallery-40 .cs-picture-four {
        width: 28em;
        height: 36em;
    }
}

                                