.hero {
    height: 100vh;
    width: 100vw;

    background-image: url(../images/wedding1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}