

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-455 {
        padding: var(--sectionPadding);
        background-color: #fafbfc;
        /* prevents the ripple graphic from causing an overflow issues */
        overflow: hidden;
    }
    #meet-team-455 .cs-container {
        width: 100%;
        /* changes to 1440px at tablet */
        max-width: 34.375em;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
    }
    #meet-team-455 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #meet-team-455 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #meet-team-455 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #meet-team-455 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #meet-team-455 .cs-text {
        margin-bottom: 1rem;
    }
    #meet-team-455 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #meet-team-455 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #meet-team-455 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #meet-team-455 .cs-button-solid:hover:before {
        width: 100%;
    }
    #meet-team-455 .cs-card-group {
        width: 100%;
        max-width: 62.1875rem;
        /* pushes up by the same amount as the 2nd & 4th cs-item translates up */
        margin: clamp(2rem, 9vw, 3rem) 0 0 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        /* 14px - 40px */
        row-gap: clamp(0.875rem, 3vw, 2.5rem);
        position: relative;
        z-index: 1;
    }
    #meet-team-455 .cs-item {
        list-style: none;
        /* changes at desktop */
        width: 47.5%;
        margin: 0;
        padding: 0 0 1.5rem 0;
        border: 1px solid #b4b2c7;
        background-color: #fff;
        /* 12px - 16px */
        border-radius: clamp(0.875rem, 1.5vw, 1rem);
        /* clips img tag corners */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    #meet-team-455 .cs-item:before,
    #meet-team-455 .cs-item:after {
        /* green boxes */
        content: "";
        width: 0;
        height: 100%;
        background: var(--primary);
        opacity: 0.9;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: left bottom;
        transition: width 0.5s;
    }
    #meet-team-455 .cs-item:after {
        bottom: 0rem;
        left: auto;
        right: 0rem;
        z-index: -1;
    }
    #meet-team-455 .cs-item:hover:before,
    #meet-team-455 .cs-item:hover:after {
        width: 100%;
    }
    #meet-team-455 .cs-item:hover .cs-picture img {
        transform: scale(1.1);
        filter: brightness(50%);
    }
    #meet-team-455 .cs-item:hover .cs-h3,
    #meet-team-455 .cs-item:hover .cs-desc {
        color: var(--bodyTextColorWhite);
    }
    #meet-team-455 .cs-item:nth-of-type(2),
    #meet-team-455 .cs-item:nth-of-type(4) {
        /* 32px - 48px */
        /* wrapped in a calc function to make clamp value negative */
        transform: translateY(calc(clamp(2rem, 9vw, 3rem) * -1));
    }
    #meet-team-455 .cs-picture {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #b4b2c7;
        /* prevents img from overflowing container on hover */
        overflow: hidden;
        aspect-ratio: 1.18518519;
        display: block;
        position: relative;
    }
    #meet-team-455 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it act like a background image */
        object-fit: cover;
        transition:
            transform 0.6s,
            filter 0.3s;
    }
    #meet-team-455 .cs-ripple {
        list-style: none;
        /* changes at desktop */
        width: 120vw;
        height: auto;
        /* prevents mouse from interacting with it */
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
    }
    #meet-team-455 .cs-ripple img {
        width: 100%;
        height: auto;
    }
    #meet-team-455 .cs-h3 {
        /* 16px - 25px */
        font-size: clamp(1rem, 1.5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.25rem 0;
        color: var(--headerColor);
        display: block;
        transition: color 0.3s;
    }
    #meet-team-455 .cs-desc {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-align: center;
        margin: 0;
        color: var(--primary);
        display: block;
        transition: color 0.3s;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #meet-team-455 .cs-container {
        max-width: 90rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #meet-team-455 .cs-content {
        text-align: left;
        width: 50%;
        align-items: flex-start;
    }
    #meet-team-455 .cs-card-group {
        width: calc(73%);
    }
    #meet-team-455 .cs-ripple {
        width: 120%;
    }
}
/* Small Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #meet-team-455 .cs-content {
        /* 24px - 80px */
        margin-left: clamp(1.5rem, 5.5vw, 5rem);
    }
    #meet-team-455 .cs-card-group {
        justify-content: center;
        margin: 0;
        /* 20px - 40px */
        column-gap: clamp(1.5rem, 2.5vw, 2.5rem);
        flex: none;
    }
    #meet-team-455 .cs-card-group:hover .cs-ripple {
        transform: translate(-50%, -50%) scale(1.1);
    }
    #meet-team-455 .cs-item {
        width: calc(30%);
        max-width: 19.0625rem;
    }
    #meet-team-455 .cs-item:nth-of-type(2),
    #meet-team-455 .cs-item:nth-of-type(4) {
        transform: none;
    }
    #meet-team-455 .cs-item:nth-of-type(1) {
        transform: translateY(2rem);
    }
    #meet-team-455 .cs-item:nth-of-type(3) {
        transform: translateY(13.3125rem);
    }
    #meet-team-455 .cs-picture {
        height: 15.125rem;
        aspect-ratio: 1.26033058;
    }
    #meet-team-455 .cs-ripple {
        width: 90%;
        transition: transform 0.3s;
    }
}

                                